<p class="tool-description">See some suggestions for phrases which will instantly convey the point of an article!</p>

<form class="o-forms o-forms--wide">
	<label for="articleId" class="o-forms__label">Enter the article UUID</label>
	<input id='articleId' type="text" class="o-forms__text o-forms__text--valid" pattern="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" placeholder="00000000-0000-0000-000000000000" required>
		<button type='submit' class="o-buttons o-buttons--primary o-buttons--standout">Check uuid</button>
</form>
