<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{{content.title}}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-forms,o-buttons,o-fonts,o-colors,o-techdocs">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header class="o-header-services" data-o-component="o-header">
		<div class="o-header-services__top o-header-services__container">
			<div class="o-header-services__ftlogo"></div>
			<div class="o-header-services__title">
				<h1 class="o-header-services__product-name"><a href="/">FTLabs</a></h1><span class="o-header-subrand__product-tagline">FTLDR</span>
			</div>
		</div>
	</header>

	<div class="o-techdocs-hero">
		<h2 class="o-techdocs-hero__title">
extracting the essence of an article
		</h2>
	</div>

	<div class="o-techdocs-container">
		<div class="o-techdocs-layout">
			<div class="o-techdocs-main">
				<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">
				<div class="o-techdocs-content">
					{{> (lookup . 'template') }}
				</div>
			</div>
		</div>
	</div>

	<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-forms,o-buttons,o-fonts,o-colors"></script>
	<script src="/js/main.js"></script>

</body>
</html>
